{
  "extends": "next/core-web-vitals",
  "root": true,
  "rules": {
    "react/no-unescaped-entities": "error",
    "react/no-children-prop": ["error", {
      "allowFunctions": false
    }],
    "@next/next/no-img-element": "warn",
    "react-hooks/exhaustive-deps": "warn"
  }
}
